ion-content {
  --background: var(--ion-color-primary) !important;
  position: relative;
}

.menu-container {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.logout {
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.button-logout {
  background: var(--ion-color-secondary) !important;
  color: #ffffff;
  height: 45px;
  width: 100%;
  margin: 0px;
}